
div#header
	link(rel="stylesheet" type="text/css" href="/css/stylesheet.css")
	a(href="/") Home
	|  
	a(href="/profile") Profile
	|  
	a(href="/signin") SignIn/Up
	|  
	a(href="/search") Search
	|  
	a(href="/contribute") Contribute