html
    head
        style. 
            include stylesheet.css
    title Home Page 
    body
    div#header
        include ../partials/header
    div#main
        h1 Welcome to the Movie Database
            
        div#indexDiv
            h1.pageListHeader Page List
            h2.pageList
                a(href="/signin") Sign in Page
                br
                br
                a(href="/profile") Profile Page
                br
                br
                a(href="/Search") Search Page
                br
                br
    
            
            