html
    head
        style. 
            include stylesheet.css
    title Home Page 
    body
    div#header
        include ../partials/header
    div#main
        h1 Welcome to the Movie Database
        div#mostPop
            h3 Current Most Popular Movie
            br
            a(href="/movie") Space Balls
            br
            br
            h3 Current Most Popular Person
            br
            a(href="/person") Quentin Tarantino
            br
            br
            h3 Current Most Popular User
            br
            a(href="/otheruser") Zaphod Beeblebrox
            br
            br
            