html
    head
        title Profile
    body 
        include ../partials/header
    div#main
        h1 Welcome to your profile, #{myProfile.name}
        div#notifications
            h3 Notifications
            ul
            each element in myProfile.notifications
                li 
                    a(href='/profile') Remove Notification
                    p1  #{element.title}