html
    head
        style. 
            #header{text-align: center; font-family: helvetica; font-weight: bold; word-spacing: 10px;}
    title #{myReview.rating}/10 Review
    body 
        include ../partials/header
    h1 Review Rating: #{myReview.rating}/10
    h3 Summary: 
    p1 #{myReview.summary}
    br
    br
    h3 Full Review: 
    p1 #{myReview.full}