html
    head
        style. 
            #header{text-align: center; font-family: helvetica; font-weight: bold; word-spacing: 10px;}
    title Search Result
    body 
        include ../partials/header