html
    head
        style. 
            #header{text-align: center; font-family: helvetica; font-weight: bold; word-spacing: 10px;}
    title Search Result
    body 
        include ../partials/header
    
    div#main
        h1 Results

    div#topSearches 
        h4 Movie Results:
        a(href="/movie") Space Balls
        br
        a(href="/movie") Poetic Justice by John Singleton
        br
        a(href="/movie") Batman: Under the Red Hood by Brandon Vietti
        br
        a(href="/movie") To Sir, with Love by James Clavell
        
