html
    head
        style. 
            include stylesheet.css
    title Search
    body 
        include ../partials/header
    div#main
        h1 Search Page		
    
    div#searchPageTitle
        h3.searchTitle Search
    div#search
        p.label Title:      
            input.title(type="text" placeholder="Title")
        
        p.label Genre:         
            input.genre(type="text" placeholder="Genre")
        
        p.label Actor Name: 
            input.actorName(type="text" placeholder="Actor Name") 
        
        form#searchButton(action="/search", method="post")
            input.enterSearch(type="submit" name="Search" placeholder="Search" value="Search")

    div#movieResults
        h1.resultsHeader Results (#{searchResults.length} results): 
        ol
            each movie in searchResults
                li.movieLI #{movie.Title} (Year: #{movie.Year})
                    br