html
    head
        title Search
    body 
        include ../partials/header
    div#main
        h1 Search:		
    
    div#search
        p Title      
            input.title(type="text" placeholder="Title")
        
        p Genre         
            input.genre(type="text" placeholder="Genre")
        
        p Actor Name 
            input.actorName(type="text" placeholder="Actor Name") 
        
        input.enterSearch(type="button" name="Search" placeholder="Search" value="Search")
