html
    head 
        style. 
            include stylesheet.css
    title Sign In / Sign Up
    body 
        include ../partials/header
    div#main
        h1 Sign In or Sign Up	

    form#loginInfo(action="/signin" method="post")
        h5.label Username:
            input.username(type="text" placeholder="Enter your username" name="username" required)
        h5.label Password: 
            input.password(type="password" placeholder="Enter your password" name="password" required)
        if loggedIn
            input.submit(type="submit" name="submitCreds" value="Log in / Sign up" disabled = true)
        else
            input.submit(type="submit" name="submitCreds" value="Log in / Sign up")
            