html
    head 
        style. 
            include stylesheet.css
    title Sign In / Sign Up
    body 
        include ../partials/header
    div#main
        h1 Sign In or Sign Up	

    div#loginInfo
        h5.label Username:
            input.username(type="text" placeholder="Enter your username")
        h5.label Password: 
            input.password(type="text" placeholder="Enter your password")
        input.createAccount(type="button" name="createAccountButton" value="Create Account")
        input.login(type="button" name="loginButton" value="Log in")